<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org">
 
    <head>
        <div th:insert="fragment :: bootstrapCss"></div>

        <title>Spring Pizzeria</title>
    </head>
    
    <body>
        <div class="container">

            <div th:insert="fragment :: navbar"></div>
            
            <h1 class="text-center my-2 text-danger">Crea la tua pizza!</h1>
            <form action="" class="mx-auto col-6">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>

                <div class="mb-3">
                    <label for="descrizione" class="form-label">Descrizione</label>
                    <input type="text" class="form-control" id="descrizione">
                </div>

                <div class="mb-3">
                    <label for="prezzo" class="form-label">Prezzo</label>
                    <input type="text" class="form-control" id="prezzo">
                </div>

                <div class="mb-3">
                    <label for="foto" class="form-label">Foto</label>
                    <input type="text" class="form-control" id="foto">
                </div>

                <button type="submit" class="btn btn-primary">Crea</button>
            </form>

        <div th:insert="fragment :: bootstrapJS"></div>

    </body>
 </html>