<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org">
 
    <head>
        <div th:insert="fragment :: bootstrapCss"></div>

        <title>Spring Pizzeria</title>
    </head>
    
    <body>
        <div class="container">

            <div th:insert="fragment :: navbar"></div>
            
            <p class="text-center fs-3 mt-5 mx-5">Aggiungi una nuova pizza o visualizza quelle già presenti usando i bottoni!</p>

        <div th:insert="fragment :: bootstrapJS"></div>

    </body>
 </html>